* {
    padding: 0;
    margin: 0;
}

ul{
    list-style-type: none;
}

nav {
    display: flex;
    height: 80px;
    background-color: rgb(182, 234, 255);
}

header nav > ul{
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
}

header nav > ul > li {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    width: 120px;
    height: 44px;
    background-color: #f04d53;
}

header nav > ul > li p {
    vertical-align: middle;
}

#logo {
    background-color: inherit;
}

#logo img {
    height: 32px;
}

#categories-list {
    position: absolute;
    top: 44px;
    box-sizing: border-box;
    width: 240px;
    height: 540px;
    background-color: #222222;
}

#categories-list li {
    line-height: 30px;
}
