* {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 1.43;
    color: #29303b;
}

a {
    text-decoration: none;
}

i {
    color: #8a92a3;
}

ul{
    list-style-type: none;
}

nav {
    background-color: rgb(213, 252, 255);
    display: flex;}

    nav > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

#logo {
    width: 126px;
    height: 65px;
    box-sizing: content-box;
    background-color: rgb(255, 223, 153);}
    
    #logo a {
        padding-right: 16px;}

    #logo img {
        height: 32px;
        vertical-align:middle;
}

#categories {
    position: relative;}

    /*Bloco de Link*/
    #categories li a {
        padding: 5px 15px;
        display: block;
        color: #151719;}

        #categories li a .content {
            padding: initial;}

            /*Bloco de Link*/
            #categories li a .content .text-content {
                display: flex;
                align-items: center;
                flex-grow: 1;
                height: 100%;
                font-size: 15px;
        }
        
        #categories li a:hover {
            background-color: #f2f3f5;
        }
        
        #categories li a:hover .text-content {
            color: #007791;
        }
        
    #categories li:hover > ul {
        display: block;
    }

    #categories li > ul > li:hover:first-child > ul {
        display: none;
    }

    #categories li > ul > li > ul > li > div > .text-content {
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 31px;
        font-size: 15px;
        font-weight: bold;
        margin: 0 15px;
        cursor: text;
    }

    #categories ul {
        position: absolute;
        padding: 16px 0;
        box-sizing: border-box;
        width: 270px;
        height: 560px;
        box-shadow: 4px 4px 16px rgba(20, 23, 28, 0.251);}

        #categories ul ul {
            display: none;
            top: 0;
            left: 270px;
            background-color: #f7f8fa;}
            
            #categories ul ul ul {
                background-color: #f2f3f5;
    }

    #categories > ul::before {
        content: '';
        border-width: 0 10px 13px 10px;
        border-color: transparent transparent #e8e9eb transparent;
        border-style: solid;
        position: absolute !important;
        top: -14px;
        left: 14px;
    }

    #categories > ul::after {
        content: '';
        border-width: 0 10px 13px 10px;
        border-color: transparent transparent #ffffff transparent;
        border-style: solid;
        position: absolute !important;
        top: -12px;
        left: 14px;
    }
    
    #categories > ul {
        top: 65px;
        left: 0;
        background-color: #ffffff;}

        #categories > ul > li i:not(.arrow-right) {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 21px;
            font-size: 21px;
            margin-right: 20px;}

        #categories > ul > li .arrow-right{
            font-size: 16px;
    }

    #categories .content {
        display: flex;
        align-items: center;
        cursor: pointer;}

    #categories > .content {
        padding: 12px 15px;}

        #categories > .content i {
            font-size: 19px;
}

